h1 { font-size: 1.5em; }
    
form.queryForm {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    padding: 0 2em 2em 2em; 
}

.queryForm label { 
    display: block;
    font-weight: normal;
}

div.query-group {
   float: left;
   margin-right: 35px;
}

div.queryInputs  {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    padding: 2em;
}

form.queryForm fieldset.show legend {
    margin-top: 1em;
    font-size: 1em;
}

.queryForm h3 {
    font-family: times;
    margin-left: 10px;
}

div.show-group {
   float: left;
   margin-right: 2em;
}

.range-input label { display: inline; }

fieldset { border-style: none; }

.station-options { display: none; }

input[type=checkbox], input[type=radio] {
    margin-right: 5px;
}

.date-separator {
    font-style: normal;
    font-family: arial;
    color: black;
    font-size: 90%;
}

.help-block {
    float: right;
}

.active {
    background-color: #ADE6FE
}

label.error {
    color: red;
    font-style: italic;
    font-weight: normal;
    padding-bottom: 5px;
}

button {
    vertical-align: top;
}